repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        types_or: [python, pyi]
        args: [--select, I, --fix]
      - id: ruff-format
        types_or: [python, pyi]
